<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/javastack.log}"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <springProfile name="dev | test">
        <logger name="cn.javastack" level="DEBUG"/>
    </springProfile>

    <springProfile name="prod">
        <logger name="cn.javastack" level="INFO"/>
    </springProfile>

    <logger name="org.springframework.web" level="INFO"/>
</configuration>